[submodule "Renderer/vendor/glfw"]
	path = Renderer/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Renderer/vendor/glad"]
	path = Renderer/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Renderer/vendor/spdlog"]
	path = Renderer/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Renderer/vendor/imgui"]
	path = Renderer/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
