[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/vendor/glad"]
	path = Engine/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/vendor/assimp"]
	path = Engine/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/vendor/stb"]
	path = Engine/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/vendor/spirv-cross"]
	path = Engine/vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Engine/vendor/spirv-tools"]
	path = Engine/vendor/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "Engine/vendor/spirv-headers"]
	path = Engine/vendor/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "Engine/vendor/shaderc"]
	path = Engine/vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Engine/vendor/glslang"]
	path = Engine/vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
